
/* mobile view*/

body{
    margin: auto;
    width: 480px;
    margin-top:20px;
    margin-bottom: 20px;
}

#s2{
    display: grid;
    grid-template-areas: "header header "
    "main main"
    "section section"
    "nav nav"
    "article a2"
    "s3 d2"
    "footer footer";
    
}


header{
    width: 480px;
    height: 75px;
    text-align: center;
    grid-area: header;
    line-height: 75px;
    background: rgb(248, 108, 108);
    /* display: block;   */
    border: .5px solid rgb(255, 255, 255);
}
main{
    width: 480px;
    height: 150px;
    text-align: center;
    grid-area: main;
    line-height: 150px;
    background: rgb(253, 218, 22);
    /* display: block;   */
    border: .5px solid rgb(255, 255, 255);
}
section{
    width: 480px;
    height: 125px;
    text-align: center;
    grid-area: section;
    line-height: 125px;
    background: rgb(87, 253, 22);
    /* display: block;   */
    border: .5px solid rgb(255, 255, 255);
}
nav{
    width: 480px;
    height: 125px;
    text-align: center;
    grid-area: nav;
    line-height: 125px;
    background: rgb(22, 253, 203);
    /* display: block;   */
    border: .5px solid rgb(255, 255, 255);
}

article{
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    background: rgb(15, 55, 230);
    grid-area: article;
    border: .5px solid rgb(255, 255, 255);
}
#a2{
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    background: rgb(126, 15, 230);
    grid-area: a2;
    border: .5px solid rgb(255, 255, 255);
}
#s3{
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    background: rgb(230, 15, 201);
    grid-area: s3;
    border: .5px solid rgb(255, 255, 255);
}
#d2{
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    background: rgb(230, 15, 87);
    grid-area: d2;
    border: .5px solid rgb(255, 255, 255);
}
footer{
    width: 480px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: rgb(245, 130, 23);
    grid-area: footer;
    border: .5px solid rgb(255, 255, 255);
}



/* Tablet view */




@media only screen and (min-width: 700px){
body{
    margin: auto;
    width: 760px;
    margin-top:60px;
    margin-bottom: 20px;
    /* margin-left:250px; */
}


#s2{
    display: grid;
    grid-template-areas:  
    "header header header header header header header header header header header" 
    "main main main section section section section nav nav nav nav" 
    "main main main article article a2 a2 s3 s3 d2 d2"
    "main main main footer footer footer footer footer footer footer footer";
}
      
header {
    width: 960px;
    height: 100px;
    text-align: center;
    grid-area: header;
    line-height: 100px;
    background: rgb(8, 46, 216);
    border: .5px solid rgb(255, 255, 255);
}
main{
    width: 200px;
    height: 600px;
    text-align: center;
    grid-area: main;
    line-height: 600px;
    background: rgb(90, 238, 31);
    border: .5px solid rgb(255, 255, 255);
}
section{
    width: 380px;
    height: 200px;
    text-align: center;
    grid-area: section;
    line-height: 200px;
    background: rgb(253, 22, 53);   
    border: .5px solid rgb(255, 255, 255);
}
nav{
    width: 380px;
    height: 200px;
    text-align: center;
    grid-area: nav;
    line-height: 200px;
    background: rgb(249, 253, 22);
    border: .5px solid rgb(255, 255, 255);
}
    
article{
    width: 190px;
    height: 250px;
    text-align: center;
    grid-area: article;
    line-height: 250px;
    background: rgb(148, 5, 243);
    border: .5px solid rgb(255, 255, 255);
}
#a2{
    width: 190px;
    height: 250px;
    text-align: center;
    grid-area: a2;
    line-height: 250px;
    background: rgb(32, 30, 32);
    border: .5px solid rgb(255, 255, 255);
}
#s3{
    width: 190px;
    height: 250px;
    text-align: center;
    grid-area: s3;
    line-height: 250px;
    background: rgb(22, 230, 15);
    border: .5px solid rgb(255, 255, 255);
}
#d2{
    width: 190px;
    height: 250px;
    text-align: center;
    grid-area: d2;
    line-height: 250px;
    background: rgb(250, 11, 210);
    border: .5px solid rgb(255, 255, 255);
}
footer{
    width: 760px;
    height: 150px;
    text-align: center;
    grid-area: footer;
    line-height: 150px;
    background: rgb(87, 143, 135);
    border: .5px solid rgb(255, 255, 255);
}    
}


/* Desktop */


@media only screen and (min-width: 70em){
    body{
        margin: auto;
        width: 760px;
        margin-top:60px;
        margin-bottom: 20px;
    }
    
    
    #s2{
        display: grid;
        grid-template-areas:  
        "header header header header header header header header header header header" 
        "main main main section section section section nav nav nav nav" 
        "main main main article article a2 a2 s3 s3 d2 d2"
        "main main main footer footer footer footer footer footer footer footer";
        
    }
          
    header {
        width: 960px;
        height: 100px;
        text-align: center;
        grid-area: header;
        line-height: 100px;
        background: rgb(231, 44, 44);
        border: .5px solid rgb(255, 255, 255);
    }
    main{
        width: 200px;
        height: 600px;
        text-align: center;
        grid-area: main;
        line-height: 600px;
        background: rgb(58, 161, 202);
        border: .5px solid rgb(255, 255, 255);
    }
    section{
        width: 380px;
        height: 200px;
        text-align: center;
        grid-area: section;
        line-height: 200px;
        background: rgb(253, 22, 214);   
        border: .5px solid rgb(255, 255, 255);
    }
    nav{
        width: 380px;
        height: 200px;
        text-align: center;
        grid-area: nav;
        line-height: 200px;
        background: rgb(49, 253, 22);
        border: .5px solid rgb(255, 255, 255);
    }
        
    article{
        width: 190px;
        height: 250px;
        text-align: center;
        grid-area: article;
        line-height: 250px;
        background: rgb(209, 152, 152);
        border: .5px solid rgb(255, 255, 255);
    }
    #a2{
        width: 190px;
        height: 250px;
        text-align: center;
        grid-area: a2;
        line-height: 250px;
        background: rgb(138, 135, 141);
        border: .5px solid rgb(255, 255, 255);
    }
    #s3{
        width: 190px;
        height: 250px;
        text-align: center;
        grid-area: s3;
        line-height: 250px;
        background: rgb(230, 162, 15);
        border: .5px solid rgb(255, 255, 255);
    }
    #d2{
        width: 190px;
        height: 250px;
        text-align: center;
        grid-area: d2;
        line-height: 250px;
        background: rgb(173, 101, 125);
        border: .5px solid rgb(255, 255, 255);
    }
    footer{
        width: 760px;
        height: 150px;
        text-align: center;
        grid-area: footer;
        line-height: 150px;
        background: rgb(23, 245, 215);
        border: .5px solid rgb(255, 255, 255);
    }    
    }